* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    min-width: 50px;
}

button,
#display {
    min-height: 50px;
}

#container,
#calculator,
#buttons {
    display: flex;
}

#container,
#buttons {
    justify-content: center;
}

#calculator,
#buttons {
    gap: 10px;
}

#container {
    border: 2px solid orange;
    align-items: center;
    height: 100vh;
}

#calculator {
    flex-direction: column;
    border: 2px solid red;
}

#display {
    border: 2px solid indigo;
}

#buttons {
    flex-wrap: wrap;
    width: 250px;
    border: 2px solid blue;
}